.eventSectionContainer
{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    padding-bottom: 0;
    position: relative;

}

.title
{
    display: flex;
    align-items: center;

    gap: 1rem;
    padding-left: 5vh;
   
}


.title p
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    background-color:#70A3FA ;
    border-radius: 50%;
    border: black 1px solid;
    width: 2.5rem;
    height: 2.5rem;
}


.UpcomingEventsSection
{
    
    padding-left: 1rem;

   
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    -ms-overflow-style: none;
    scrollbar-width: none; 
    border: none;
     

    transition:all 0.5s ease-in-out;
   

}

.UpcomingEventsSection::-webkit-scrollbar {
    display: none; 
}


.mover
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.left-side-arrow
{
    background-image: url("../../assets/gdg-left-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;    
    width: 2.5rem;
    height: 2.5rem;
    
    border: none;
    background-color: transparent;


}

.right-side-arrow
{
     background-image: url("../../assets/gdg-right-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    width: 2.5em;
    height: 2.5rem;
 
    border: none;
    background-color: transparent;
}

.page-points
{
    display: flex;
    align-items: center;
    
    justify-content: center;
    gap: 1rem;
}

.page-point,.page-point-selected
{
    border: black solid 1px;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}

.page-point-selected
{
    background-color: black;
}


.title-behind
{
     
      position: absolute;
      font-size: 15vw;
      z-index: -10;
      color: #d0d0d040;
      text-align: center;
      padding: 0.4rem;
      left: 5%;
      text-align: center;
      bottom: 60%;
      transform: scaleY(1.15);
   
      font-family: 'Bebas Neue' , sans-serif;
      letter-spacing: 4px;
    
}


@media (min-width: 1920px)
{
    .UpcomingEventsSection
    {
        gap: 3vw;
    }
    .eventSectionContainer
    {
        gap:4vw;
    
    }
    .title-behind
    {
        left: 8%;
    }
}

@media (max-width:1919px)
{
    .right-side-arrow
    {
        margin: 0;
    }
   .UpcomingEventsSection
   {
     gap: 2.5vw;
   }
}

@media (max-width: 1919px)
{
    .eventSectionContainer
    {
       gap: 3vh;
    }
}
@media (max-width:700px)
{
    .UpcomingEventsSection
    {
        gap: 8vw;
    }
    
}

@media (max-width:638px)
{
    .UpcomingEventsSection
    {
        margin-left: 4vw;
    }
    .title-behind
    {
        top: 2%;
    }
}


@media (max-width: 460px) {
    .UpcomingEventsSection
    {
        margin-left: 0vw;
        padding-left: 2vw;
        gap: 7.5vw;
    }
    .title-behind
    {
        font-size: 13vw;
        top: 4%;
    
    }
}