.PreviousEventsContainer {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.PreviousEvents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6%;
  padding-left: 4rem;
  padding-right: 4rem;
}



.ImgSContainer {
    flex: 1 0 30%;
  height: 30vw;
  justify-items: center;
  align-items: center;
 
  position: relative;
  
}

.PrincipleImgContainer {
  z-index: 10;
  width: 40%;
  height: 100%;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  padding-top: 1rem;
  gap: 0.8rem;
  box-shadow: 0px 0px 24px -2px rgb(77, 77, 77);
  position: relative;
}

.PrincipleImg {
  z-index: 10;
  background-image: url("../../assets/gdg-event-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 70%;
  min-height: 8rem;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.details p {
  font-size: 0.85rem;
}

.EventArrowRight {
  background-image: url("../../assets/gdg-right-arrow.png");
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.3s;
  animation: slideIn 0.5s forwards;
}

.EventArrowLeft {
  background-image: url("../../assets/gdg-left-arrow.png");
  width: 2.5rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.3s;
  animation: slideIn 0.5s forwards;
}
.EventArrowLeft:hover,
.EventArrowRight:hover {
  scale: 1.05;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.title3 {
  display: flex;
  align-items: center;
  margin-left: 6vh;
  gap: 1rem;
  z-index: 4;
}

.title3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  font-size: 1.7rem;
  background-color: #62c27b;
  border-radius: 45%;
  border: black 1px solid;
  width: 3rem;
  height: 2.5rem;
}

.title-behind3 {
  position: relative;
  font-size: 15vw;
  z-index: -10;
  color: #d7d1d140;
  text-align: center;
  /* padding: 0.4rem; */
  left: 1rem;
  bottom: 36rem;
  transform: scaleY(1.15);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 4px;
}

.description3 {
  max-width: 25vw;
  text-align: center;
}

.description3 h3 {
  font-size: 1.5rem;
}

.arrows {
  display: flex;
}



 .ImgLikeBg1{
    background-color: #f4f1f175;
    width: 40%;
    height: 90%;
    position: absolute;
    bottom: -5%;
    transform-origin:bottom;
    left:35%;
    transform: rotateZ(-8deg);
 }
 .ImgLikeBg2{
    z-index: -1;
    background-color: #f4f1f175;
    width: 38%;
    height: 90%;
    position: absolute;
    bottom: 0;
    transform-origin:bottom;
    right: 38%;
    transform: rotateZ(8deg) translateY(2rem)  
 }

 

@media(max-width:1024px)
{
    .PrincipleImg
    {
        width: 90%;
    
    }
    .details
    {
        gap: 3rem;
    }
    .details  p
    {
        font-size: 0.6rem;
    }

}

@media (max-width: 900px) {
  .PreviousEvents {
    flex-direction: column;
  }
  .PreviousEvents
  {
    gap:    10vh;
  }
  .description3  
  {
    max-width: 50vw;
  }
 .ImgSContainer
 {
   flex: none;
    width: 60vw;
    margin-bottom: 2vh;
 }
 .details
 {
    gap: 3rem;
 }
 .details  p
 {
    font-size: 0.7rem;

 }
 .ImgLikeBg1 
 {
    bottom: -20%;
    left: 38%;
    height: 100%;
 }
 .ImgLikeBg2
 {
    bottom: -10%;
    right: 40%;
    height: 100%;
 }
 
}



@media (max-width: 500px) {

    .PreviousEventsContainer
    {
        gap: 4vh;
    }
 
  .PreviousEvents
  {
    gap:    10vh;
  }
  .description3  
  {
    max-width: 50vw;
  }
 .ImgSContainer
 {
   flex: none;
    width: 100vw;
  
    height: 30vh;
  
    
 }
 .PrincipleImgContainer
 {
    gap: 2vh;
    padding: 0.2rem;
    padding-top: 0.7rem;
    padding-bottom: 2rem;
 }
 .PrincipleImg
 {
    /* height: 60%; */
    padding: 0.2rem;
 }
 .PreviousEventsContainer
 {
    height: 100%;
 }
 .details
 {
    gap: 2.2rem;
 }
 .details  p
 {
    font-size: 0.5rem;

 }
 
 .ImgLikeBg1 
 {
    bottom: -10%;
    left: 38%;
    height: 90%;
 }
 .ImgLikeBg2
 {
    bottom: 2%;
    right: 38%;
    height: 100%;
 }
 .description3
 {
    max-width: 90vw;
 }
 .description3 h3
 {
    font-size: 1.3rem;

 }
 .title-behind3
 {
    bottom: 24rem;
    font-size: 12vw;
 }
}




