.Hero
{
    background-color:#FFE69C ;
    width: 100%;
    height:60vh ;
    margin: 0rem;
    position: relative;
    top:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
   

    

}

.gdg-logo
{
    display: flex;
    bottom: 70%;
    left: 75%;
    align-items: center;
    width: 20%;
    height: 30%;
    position: absolute;
    justify-content: center;
  
   

}

.left-side
{
    background-image: url('../../assets/gdg-logo-left.svg');
    width: 100%;
    height: 100%;
     background-repeat: no-repeat;
     background-size: contain;
     padding: 0rem;
     margin:0rem;
   
}

.right-side
{
     background-image: url('../../assets/gdg-logo-right.svg');
      width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
      padding: 0rem;
     margin:0rem;


} 
.GdgLogo
{
    position: absolute;
    right: -5%;
    top: -10%;
     width: 40%;
    height: 40%;

}


.svg-container
{
    width: 90vw;
    height: 35vh;
    position: relative;

}

/* .svg-container svg
{
    width: 100vw; 
    height: 35vh;
} */
.svg-container svg image
{
    border: black solid 1px;
} 

  
.HeroTitle
{
    border: black 2px solid;
    border-radius: 0.6rem;
    font-size: 2.3rem;
    font-weight: 500;
    padding: 0.1rem 0.1rem;
    width:25%;
    height:25%;
    background-color: #F8AA00;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
    position: absolute;
    left: 10%;
    top:70%;
}



@media (max-width:3000px)
{
     .HeroTitle
    {
         left: 0%;
         top:70%;
         font-size: 4rem;
           width:30%;
          height:20%;

    }
    .GdgLogo
    {

         right: -5%;
    top: 0%;
     width: 30%;
    height: 30%;

    }

}

@media (max-width:1350px)
{
    .Hero
    {
       top: 12vh;
        padding-top: 5vh;
    }
     .HeroTitle
    {
         left: 8%;
         top:75%;
         font-size: 2.5rem;
           width:25%;
          height:25%;

    }
    .GdgLogo
    {

         right: 5%;
    top: -5%;
     width: 35%;
    height: 35%;

    }

}

@media (max-width:1023px)
{

    .Hero
    {
       top: 5vh;
    }
     .HeroTitle
    {
         left: 0%;
         top:75%;
         font-size: 1.8rem;
           width:27%;
          height:20%;

    }
    .GdgLogo
    {

         right: -5%;
    top: 0%;
     width: 30%;
    height: 30%;

    }

}



@media (max-width: 767px) {
      .Hero
    {
       top: 15vh;
    }
     .HeroTitle
    {
         left: 0%;
         top:75%;
         font-size: 1.5rem;
           width:27%;
          height:22%;

    }
    .GdgLogo
    {

         right: -10%;
    top: -5%;
     width: 35%;
    height: 35%;

    }
}

@media (max-width: 520px) {
    .Hero
    {
        top: 10vh;
        height: 30vh;
        padding-top: 0;
    }
 
     .HeroTitle
    {
         left: 0%;
         top:60%;
         font-size: 1rem;
           width:27%;
          height:10%;
          border-radius: 0.4rem;

    }
    .GdgLogo
    {

         right: -5%;
    top: 15%;
     width: 25%;
    height: 25%;

    }


}

@media (max-width: 394px) {
    .Hero
    {
        height: 28vh;
        padding-top: 0;
        top:10vh;
    }
 
     .HeroTitle
    {
         left: 0%;
         top:60%;
         font-size: 0.8rem;
           width:27%;
          height:10%;
          border-radius: 0.4rem;

    }
    .GdgLogo
    {

         right: 0%;
    top: 20%;
     width: 20%;
    height: 20%;

    }

}
