/* --- Base Section Styling --- */
.PreviousEditionsSection
{
    margin-top: -1rem;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.PreviousEditionsSection h2
{
    align-self: start;

}
.PreviousEditionsImgs
{
    display: flex;
    gap: 1rem;
    width: 70vw;
    height: 24rem; /* Defines the total height of the two columns */
    padding: 1rem;
}

/* --- Column Layout --- */
.firstImgColumn, .secondImgColumn
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 24rem;
    width: 34vw;
}


.carousel-item {

    transition: background-image 0.5s ease-in-out; 

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    border-radius: 0.5rem;
    position: relative; 
}


.firstImg 
{
    height: 14rem;
    width: 34vw;
}

.secondImg 
{
    height: 9.5rem; 
        width: 34vw;
}

.thirdImg 
{
    height: 6rem ;
    width: 34vw;
}
.fourthImg /* Bottom Right */
{
    height: 17.5rem; 
    width: 34vw;
}


.imgTextOverlay {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: white;
    /* other text styling */
}

.imgTextOverlay h3 {
    margin: 0;
    font-size: 1.5rem;
}

.imgTextOverlay p {
    margin: 0;
    font-size: 1rem;
}

@media (max-width:768px)
{
    .PreviousEditionsImgs
    {
        width: 80vw;

    }
    .PreviousEditionsImgs
    {
        align-items: center;
        justify-content: center;
    }
    .firstImgColumn, .secondImgColumn
    {
        width: 40vw;
    }
    .firstImg,.secondImg ,.thirdImg , .fourthImg
    {
        width: 40vw;
    }
    .PreviousEditionsSection
    {
        margin-left: 0rem;
    }

    .PreviousEditionsSection h2
{
   
     margin-left: 7vw;
}


}