
.EventInfo
{
    display: flex;
    flex-direction: column;
    gap: 4rem;
     padding-left: 6vw;
    /* margin-bottom: 6vh; */
}

.AboutEvent
{
    display: flex;
    flex-direction: column;
   

}

.EventCalender
{
    display: flex;
    flex-direction: column;  
    gap: 1rem;
    
}
.day
{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  
}

.day-number
{
    width: 12rem;
    height: 4rem;
    color: white;
    background-color: red;
    border-radius:1rem 1rem 0.3rem 0.3rem ;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.timeline
{
    display: flex;
    width:fit-content;
    padding: 1.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: fit-content;
    border-radius: 0.5rem;
    border: rgb(238, 238, 238) 2px solid;
    /* background-color: aquamarine; */
}

.time
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  
}

.time h3
{
    font-size: 1.7rem;
}
