.WorkshopSectionContainer
{
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    gap: 2rem;

    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    overflow-y: hidden;
     position: relative;
 
}

.title2
{
    display: flex;
    align-items: center;
    padding-left: 5vh;
    gap: 1rem;
    z-index: 4;
   
}


.title2 p
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;
    font-size: 1.7rem;
    background-color:#F8AA00;
    border-radius: 50%;
    border: black 1px solid;
    width: 2.5rem;
    height: 2.5rem;
}


.WorkshopSection
{
    padding-left:3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-bottom: 0;

    -ms-overflow-style: none;
    scrollbar-width: none; 
    border: none;
    z-index: 6;
    
    transition:all 0.5s ease-in-out;
   

}

.WorkshopSection::-webkit-scrollbar {
    display: none; 
}




.mover
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
      
}

.left-side-arrow
{
    background-image: url("../../assets/gdg-left-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;    
    width: 2.5rem;
    height: 2.5rem;
  
    border: none;
    background-color: transparent;
     transition: all 0.3s ease-in-out;

}

.right-side-arrow
{
     background-image: url("../../assets/gdg-right-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;

   
    width: 3em;
    height: 2.5rem;
   
    border: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.left-side-arrow:hover , .right-side-arrow:hover
{
    scale: 1.05;
}
.page-points
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.page-point,.page-point-selected
{
    border: black solid 1px;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}

.page-point-selected
{
    background-color: black;
}


.title-behind2
{
     
      position: absolute;
      font-size:15vw;
      z-index: -10;
      /* font-weight: bolder; */
      color: #d0d0d040;
      text-align: center;
      padding: 0.4rem;
      left: 7%;
      top: -4%;
      transform: scaleY(1.15);
   
      font-family: 'Bebas Neue' , sans-serif;
      letter-spacing: 4px;
    
}



@media (min-width: 1920px)
{
    .WorkshopSection
    {
        gap: 3vw;
    }
    .WorkshopSectionContainer
    {
        gap:4vw;
    
    }
    .title-behind2
    {
        left: 8%;
    }
}

@media (max-width:1919px)
{
    .right-side-arrow
    {
        margin: 0;
    }
   .WorkshopSection
   {
     gap: 2.5vw;
   }
}

@media (max-width: 1919px)
{
    .WorkshopSectionContainer
    {
       gap: 10vh;
    }
}
@media (max-width:700px)
{
    .WorkshopSection
    {
        gap: 8vw;
    }
    
}

@media (max-width:638px)
{
    .WorkshopSectionContainer
    {
        gap: 4vh;
    }
    .WorkshopSection
    {
        padding-left: 10%;
        gap: 10%;
    }
    .title-behind2
    {
        top: 2%;
    }
}


@media (max-width: 460px) {

    .WorkshopSection
    {

        margin-left: 0vw;
        padding-left: 10vw;
        
        
    }
    .title-behind2
    {
        font-size: 13vw;
        top: 4%;
        left:  8%;
    
    }
}