@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body
{
  margin: 0px;
  padding: 0rem;
  height: fit-content;
  
}
.event-page
{
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

