@import url("https://fonts.cdnfonts.com/css/product-sans");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --blueColor: rgba(66, 133, 243, 1);
  --redColor: rgba(233, 67, 53, 1);
  --greenColor: rgba(52, 168, 83, 1);
  --yellowColor: rgba(248, 170, 0, 1);
   margin: 0;
   transition: all 0.3s ease-in-out;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;

}

html {
  font-family: "Product Sans", sans-serif;

    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
     overflow-x: hidden;
}

body 
{
  margin: 0px;
  padding: 0rem;
  scrollbar-width: none;
    -ms-overflow-style: none;

}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: clamp(1.6rem, calc(1rem + 3vw), 4rem);
  
}

h2 {
  font-size: clamp(1.25rem, calc(0.8rem + 2vw), 2.5rem);
}

h3 {
  font-size: clamp(1rem, calc(0.6rem + 1.2vw), 1.75rem);
}

p {
  font-size: clamp(0.875rem, calc(0.6rem + 0.8vw), 1.125rem);
}